.ImageGalleryItem {
  overflow: hidden;
  border-radius: 4px;
}

.ImageGalleryItem-image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 250ms;
}

.ImageGalleryItem-image:hover {
  transform: scale(1.03);
}